.comment-card {
    color: black;

  .comment-date {
    font-size: 20px;
    font-style: italic;
    font-weight: 600;
  }
  
  .comment-isAnon {
    font-size: 15px;
  }

  .message-container {
    border: 2px solid gray;
    background-color: white;
    color: black;
  }

  a {
    color: black;
  }
}

