.sighting-details-container {
  width: 1300px;
  background-color: gray;
  border: 2px solid black;

  .sighting-title {
    font-size: 45px;
    text-shadow: -.5px 0 white, 0 .5px white, .5px 0 white, 0 -.5px white;
    border-bottom: 1px solid black;
  }

  .sighting-threat {
    font-size: 18px;
    color: red;
    text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
  }

  .sighting-username {
    font-weight: bold;
  }

  .sighting-date {
    font-size: 20px;
    font-style: italic;
  }

  .sighting-desc {
    border: 1px solid black;
    background-color: rgb(236, 234, 234);
  }

  .sighting-image {
    height: 250px;
    width: 550px;
    margin-top: 30px;
  }
}